/* public domain */
body {
  border: 1px solid #ff6600;
  width: 900px;
  margin-left: auto;
  padding-left: 10px;
  font-family: Arial,Helvetica,sans-serif;
  margin-right: auto;
  padding-right: 10px;
  font-size: medium;
  background-color: white;
  color: black;
}
h1 {
  border-style: solid;
  border-width: 1px;
  font-family: "Times New Roman",Times,serif;
  font-weight: bold;
  text-align: center;
  color: #111111;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #eeeeee;
  font-size: 1.3em;
}
h2 {
  border-style: none;
  font-family: "Courier New",Courier,monospace;
  text-align: center;
  font-size: 1.4em;
  color: #000000;
  background-color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
}
h3 {
  padding: 2px;
  font-style: normal;
  font-family: "Times New Roman",Times,serif;
  font-weight: normal;
}
h4 {
  font-family: Arial,Helvetica,sans-serif;
  font-weight: normal;
  margin-top: 1px;
  margin-bottom: 1px;
  font-style: italic;
  text-align: center;
}
